// susy vars
$total-columns  : 12             // a 12-column grid
$column-width   : 4em            // each column is 4em wide
$gutter-width   : 1em            // 1em gutters between columns
$grid-padding   : $gutter-width  // grid-padding equal to gutters

@import url(http://fonts.googleapis.com/css?family=Ewert)

+font-face('Sacramento', font-files('sacramento-regular-webfont.eot', 'sacramento-regular-webfont.svg', 'sacremento-regular-webfont.ttf', 'sacramento-regular-webfont.woff')


// Base font
=font-default
  font: 1.6em 'Sacramento', 'Helvetica Neue', sans-serif


// Sinatra colors!
$sinatra-blue: #4599DA
$sinatra-dark-blue: #2E5076
$sinatra-scarlet: #B43222
$sinatra-orange: #E4A131
$sinatra-umber: #782E04
$sinatra-pink: #F46692
$sinatra-camel: #D0AB99
$sinatra-light-yellow: #FEDC4E
$sinatra-mustard: #CAAE30
$sinatra-dark-green: #295448
$sinatra-violet: #E9BADF

// LINKS
$link-color: #6F6F6B
$visited-link: #4F7D97
