@import compass
@import compass/reset
@import compass/utilities
@import compass/css3
@import compass/typography/lists/bullets
@import susy
@import base
@import forms



/* BASE */

html
  @include container
  vertical-align: baseline !important
  background: $sinatra-blue

body
  +font-default
  color: #0d0d0d
  background-image: image-url('50s_blue_pattern.jpg') repeat
  z-index: 1

// Links
a
  color: $link-color
  text-decoration: none !important
  &:hover
    color: $visited-link
    // text-decoration: none
  &:focus,
  &:active
    outline: none
    color: $visited-link
  &:visited
    // Default style for visited links


/* HEADER */

header
  +border-radius(0.2em)
  background: $sinatra-orange
  // border: 1px solid #ccc
  margin: 1em 1em
  height: 3em
  padding: 0 0.7em
  .logo
    @include span-columns(12,12)
    margin-top: 0.4em


.frank
  @include span-columns(6,12)
  background: image-url('frank.png') no-repeat
  height: image-height('frank.png')
  background-size: contain

.tides
  @include span-columns(6 omega, 12)
  p
    margin-top: 0.5em
    padding-bottom: 0.2em
  .last_high
    background: $sinatra-light-yellow
    text-align: center
    padding: 0.3em 0
  .high_tide
    background: $sinatra-violet
    text-align: center
    padding: 0.3em 0
  .tomorrow_tide
    background: $sinatra-scarlet
    text-align: center
    padding: 0.3em 0


.burger_bullet
  +pretty-bullets('shooting_star_small.png', 25px, 25px, 25px, 5px)


.secondary
  #ads
    margin: 1em 0
    @include span-columns(10, 12)
    #content
      @include span-columns(2,10)
      background: inherit
      padding: 1em
      // display: none
      li a
        padding-left: 1.8em

.ebb_tide
  margin-top: 0.8em
  @include span-columns(6, 12)
  text-align: center
  color: $sinatra-dark-green

.search_again
  margin-top: 1.5em
  font-size: 1.5em !important



/* ABOUT */
.about
  @include span-columns(6 omega,12)
  margin-bottom: 1em
  p
    padding-right: 1.5em
  li
    margin-left: 0.5em
    padding-left: 3em
    height: 2.5em
    background: image-url('small-fedora.png') no-repeat
    z-index: 1
    color: $sinatra-scarlet
    &:first-child
      margin-top: 0.7em
    &:last-child
      // margin-bottom: 0.2em



/* FOOTER */

footer
  +border-radius(0.2em)
  background: $sinatra-mustard
  padding-top: 1em
  height: 2.5em
  clear: both
  margin-bottom: 1em
  nav.main
    @include span-columns(6,12)
    // padding-left: 1em
    ul
      float: left
      li
        padding: 0 0.3em
        display: inline
  .copy
    @include span-columns(6 omega,12)
    p
      float: right
      padding-right: 1em
    span
      color: $link-color

