@import compass
@import compass/reset
@import compass/utilities
@import compass/css3
@import susy


// susy vars
$total-columns  : 12             // a 12-column grid
$column-width   : 4em            // each column is 4em wide
$gutter-width   : 1em            // 1em gutters between columns
$grid-padding   : $gutter-width  // grid-padding equal to gutters

html
  @include container
  @include pre(1)
// Base font
=font-default
  font: 16px 'Helvetica Neue', sans-serif
  
// Links
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    // Default style for visited links

body
  @include span-columns(10,12)
  +font-default
  background: #fff
  color: #0d0d0d
  h1
    position: absolute
    top: 50%
    left: 0
    font-size: 40px
    font-weight: bold
    margin-top: -40px
    text-align: center
    width: 100%
  ul
    +border-radius(6px)
    background: #e7e7e7
    border: 1px solid #ccc
    margin-top: 10px
    margin-left: 10px
    margin-right: 10px
    li
      display: inline
      line-height: 30px
      padding: 0 15px
      a
        color: #000
        text-decoration: none
        &:hover
          text-decoration: underline