%footer 
  %nav.main 
    %ul
      %li
        %a{:href => "/about"} About
      %li
        %a#contact{:href => 'javascript:void(0)'} Contact
  .copy
    %p
      %span &copy;
      %a{:href => "http://www.beaugain.es"} Beau Gaines


#contact-form
  %form{:action => "/send", :method => 'post', :id => 'formsend'}
    %fieldset
      %ul
        %li
          %label{:for => "name"}Name:
          %input{:type => "text", :name => "name", :id => "name"}
        %li
          %label{:for => "email"}Email:
          %input{:type => "text", :name => "email", :id => "email"}
        %li
          %label{:for => "message"}Message:
          %textarea{:name => "message", :id => "message", :name => "message"}   
        %li               
          %input{:type => "submit", :value => "Send", :id => "submit", :class => 'sinatra-pink'}
  / .thanks
  /   %h1 Thank you for getting in touch!
