%footer 
  %nav.main 
    %ul
      %li
        %a{:href => "/about"} About
      %li
        %a{:href => "/about"} Contact
  .copy
    %p
      %span &copy;
      %a{:href => "http://www.beaugain.es"} Beau Gaines

