.about
  %p When you want to go to the beach you need to know only three things:
  %ul
    %li When is high tide?
    %li When is low tide?
    %li Will I melt?
  %p
    Simple!
  %p 
    You'll find all that (and a few tunes by Ol' Blue Eyes) here on Sinatra Sings the Tides