.about
  %p When you want to go to the beach you need to know only three things:
  %ul
    %li Is it hot?
    %li When is high tide?
    %li Will Gisele Bundchen be there?
  %p Do a search for the tides and you're directed to a bunch of sites with way too much information.  You just want the tides.  And if possible, Gisele Bundchen.
  %p We've got you covered for the tides.
