.main
  .frank
  .tides
    #geoloc
    #search
      %form{:action => "", :method => 'post', :name => 'search', :id => 'search_form'} 
        %fieldset 
          %ul
            %li 
              %label{:for => "city"} City:
              %input{:type => "text", :name => "city"}/ 
            %li 
              %label{:for => "state"} State:
              %input{:type => "text", :name => 'state'}/ 
            %li 
              %input{:type => "submit", :class => 'button', :name => 'submit'}/ 
    #results

    / %p next low tide
    / .low_tide
    /   / %p about 8'oclock in the AM
    /   = "#{@low_tide_time} in the AM"
    / %p next high tide
    / .high_tide
    /   / %p 9:30ish
    /   = "#{@high_tide_time}ish"
    / %p and tomorrow!
    / .tomorrow_tide
    /   / %p 3:20 in the PM
    /   = "about #{@high_tide_tomorrow} in the PM"
.secondary
  .buy_links
    .caption
      %p
        Going to the beach?  You just might like
        %a{:href => "javascript:void(null)", :id => 'rollup'} some of these items
    #content
      %ul.burger_bullet 
        %li
          %a{:href => "http://www.decktowel.com/collections/frontpage/products/boudewijn"} Deck towel!
          = image_tag "images/deck_towel.jpg", :alt => 'Deck towel'
  .ebb_tide
    %p
      "First the tide rushes in
      %br/ 
      Plants a kiss on the shore
      %br/ 
      Then rolls out to sea
      %br/ 
      And the sea is very still once more"