.tides
  #geoloc
  #search
    %form{:action => "/tides", :method => 'post', :name => 'search', :id => 'search_form'} 
      %fieldset 
        %ul
          %li 
            %label{:for => "city"} City:
            %input{:type => "text", :name => "city"}/ 
          %li 
            %label{:for => "state"} State:
            %input{:type => "text", :name => 'state'}/ 
          %li 
            %input{:type => "submit", :class => 'button sinatra-pink', :name => 'submit'}/ 

  .ebb_tide
    %p
      "First the tide rushes in
      %br/ 
      Plants a kiss on the shore
      %br/ 
      Then rolls out to sea
      %br/ 
      And the sea is very still once more"

