.tides
  #geoloc
  #search
    %form{:action => "/tides", :method => 'post', :name => 'search', :id => 'search_form'} 
      %fieldset 
        %ul
          %li 
            %label{:for => "city"} City:
            %input{:type => "text", :name => "city"}/ 
          %li 
            %label{:for => "state"} State:
            %input{:type => "text", :name => 'state'}/ 
          %li 
            %input{:type => "submit", :class => 'button sinatra-pink', :name => 'submit'}/ 
  #results

  / %p next low tide
  / .low_tide
  /   / %p about 8'oclock in the AM
  /   = "#{@low_tide_time} in the AM"
  / %p next high tide
  / .high_tide
  /   / %p 9:30ish
  /   = "#{@high_tide_time}ish"
  / %p and tomorrow!
  / .tomorrow_tide
  /   / %p 3:20 in the PM
  /   = "about #{@high_tide_tomorrow} in the PM"
  .ebb_tide
    %p
      "First the tide rushes in
      %br/ 
      Plants a kiss on the shore
      %br/ 
      Then rolls out to sea
      %br/ 
      And the sea is very still once more"