#results
  %h1 Here are your tides:

  %p.low_tide
    Next high at
    = @tide1
  %p.high_tide
    Next one after that
    = @tide2
  %p.tomorrow_tide
    And the next, tomorrow at
    = @tide3

.secondary
  .buy_links
    .caption
      %p
        Going to the beach?  You just might like
        %a{:href => "javascript:void(null)", :id => 'rollup'} some of these items
    #content
      %ul.burger_bullet 
        %li
          %a{:href => "http://www.decktowel.com/collections/frontpage/products/boudewijn"} Deck towel!
          = image_tag "images/deck_towel.jpg", :alt => 'Deck towel'
