html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Sacramento";
  src: url('/public/stylesheets/fonts/sacramento-regular-webfont.eot') format('embedded-opentype'), url('/public/stylesheets/fonts/sacramento-regular-webfont.svg') format('svg'), url('/public/stylesheets/fonts/sacremento-regular-webfont.ttf') format('truetype'), url('/public/stylesheets/fonts/sacramento-regular-webfont.woff') format('woff');
}

/* BASE */
html {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: baseline !important;
}
html:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #6f6f6b;
  text-decoration: none !important;
}
a:hover {
  color: #4f7d97;
}
a:focus, a:active {
  outline: none;
  color: #4f7d97;
}

/* HEADER */
header {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #e4a131;
  margin: 1em 1em;
  height: 3em;
  padding: 0 15px;
}
header .logo {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

body {
  font: 1.6em "Sacramento", "Helvetica Neue", sans-serif;
  background: #4599da;
  color: #0d0d0d;
}

.main {
  height: 19em;
}

.frank {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: url('/images/frank.png?1371141551') no-repeat;
  height: 500px;
  background-size: contain;
}

.tides {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
.tides p {
  margin-top: 0.5em;
  padding-bottom: 0.2em;
}
.tides .low_tide {
  background: #f46692;
  text-align: center;
  padding: 0.3em 0;
}
.tides .high_tide {
  background: #e9badf;
  text-align: center;
  padding: 0.3em 0;
}
.tides .tomorrow_tide {
  background: #b43222;
  text-align: center;
  padding: 0.3em 0;
}

.burger_bullet {
  margin-left: 0;
}
.burger_bullet li {
  padding-left: 5px;
  background: url('/images/shooting_star_small.png?1371181292') no-repeat -10px 0px;
  list-style-type: none;
}

.secondary .buy_links {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
.secondary .buy_links #content {
  display: none;
}
.secondary .buy_links #content li a {
  padding-left: 1.8em;
}
.secondary .ebb_tide {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: center;
  color: #295448;
}

/* FOOTER */
footer {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #caae30;
  padding-top: 1em;
  height: 3em;
  clear: both;
}
footer nav.main {
  padding-right: 1em;
}
footer nav.main ul {
  float: left;
}
footer nav.main ul li {
  display: inline;
}
footer .copy {
  float: right;
}
footer .copy span {
  color: #6f6f6b;
}
